.Navbar {
    height: 75px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .h1-logo {
    margin: .7rem;
    margin-left: 2rem;
  }
  .h1-logo a {
    text-decoration: none;
    color: white;
  }

  .nav__link {
    text-decoration: none;
    font-size: 1em;
  }

  #welcome {
    font-size: 1em;
  }

  #welcome:hover {
    cursor: auto;
  }

  #update__profile {
    margin-left: 1rem;
  }

  .nav__link:hover {
    color: #f5cb99;
    transition: all .5s ease-out;
  }

  .h1-logo h1 {
    font-size: 1.4rem;
  }

  .right-side-nav > ul {
    padding: 1.5rem;
    border: 1px solid red;
  }

  .right-side-nav > ul > li {
    display: inline-block;
  }

  .nav__link {
    text-decoration: none;
    color: #f4f4f4;
  }

  .selected {
    border-bottom: 1px solid white;
  }

  .right-side-nav ul li:not(:last-child) {
    margin-right: 15px;
  }