.button-div > button {
    cursor: pointer;
    height: 2.5rem;
    font-size: 1.5em;
}

.button-div > button:hover {
    background-color: #282c36;
    color: #f4f4f4;
    transition: all .7s ease-out;
}