body {
    background-color: #282c36;
  }
  .signup__container {
    width: 45%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.678);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #f4f4f4;
  }
  .form-text {
    text-align: center;
    margin: 1.5rem 1.5rem;
    font-size: 40px;
  }
  .form-div-signup {
    border: 1px solid red;
    display: flex;
    justify-content: center;
  }
  .form-group-inline {
    display: flex;
    justify-content: space-evenly;
  }
  .form__signup {
    width: 100%;
  }
  .form-group-inline .inline-container {
    display: inline-block;
  }
  .form-group-inline .inline-container label {
    display: block;
    margin-bottom: 3px;
  }
  .form-group-inline .inline-container input {
    padding: 5px 5px;
    width: 300px;
  }
  .form-group-block {
    margin-left: 82px;
    margin-top: 20px;

  }
  .block-container label {
    display: block;
    margin-bottom: 3px;
    margin-top: 1.5rem;
  }
  .form-group-block .block-container input {
    padding: 5px 5px;
    width: 89%;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
  .button-container > button {
    border: none;
    background-color: black;
    color: #f4f4f4;
    font-size: 1.6em;
    cursor: pointer;
  }
  .button-container button:disabled {
    background-color: grey;
    font-size: 1.6em;

  }
  .errorMessage {
    font-size: 1em;
    color: red;
  }