.signup__container {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup__div {
  width: 45%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.678);
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.479);
  margin-bottom: 1.5rem;
}

  .signup__title {
    text-align: center;
    font-size: 3em;
    color: #f4f4f4;
    margin-top: -5rem;
  }

  .form__signup {
    height: 55%;
    margin-top: -1rem;
  }

  .first__second__wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .first__half {
    height: 100%;
    width: 49%;
  }

  .first__half > .first__half__inner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .first__half__inner {
    display: flex;
    flex-direction: column;
  }

  .second__half {
    width: 49%;
    height: 100%;
  }

  .second__half > .second__half__inner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .second__half__inner {
    display: flex;
    flex-direction: column;
  }

  .signup__label {
    color: #f4f4f4;
    font-size: 1.1em;
    margin-bottom: .5rem;
  }

  .signup__input {
    height: 2rem;
    margin-bottom: .5rem;
    outline: none;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
  .button-container > button {

    background-color: black;
    color: #f4f4f4;
    font-size: 1.6em;
    cursor: pointer;
  }
  .button-container button:disabled {
    background-color: grey;
    font-size: 1.6em;

  }
  .errorMessage {
    font-size: .8em;
    color: red;
  }